.wrap {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.link {
  display: inline-block;
  height: 60px;
  width: 130px;

  background-color: #f7faff;
  background-position: center;
  background-size: cover;

  border: 2px solid #000;
  border-radius: 10px;

  &.googleApp {
    background-image: url("../../../public/images/googleplay.svg");
  }
  &.appStore {
    background-image: url("../../../public/images/appstore.svg");
  }
}

.link:hover {
  background-color: #b1ceff;
}
