.footer {
  background-color: var(--footer-bg);
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  padding: 15px 30px 40px 30px;
  margin-left: auto;
  margin-right: auto;

  min-height: 210px;
}

.logo {
  width: 90px;
  height: 50px;
}

.navWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .wrap {
    max-width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .navWrap {
    flex-direction: row;
    gap: 80px;
  }
}
