.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(3, 10, 24);
  color: #fff;
  gap: 20px;
}

.socialList {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socialLink {
  display: inline-block;
  font-size: 28px;
}
