.header {
  box-shadow: var(--header-shadow);
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 90px;
  height: 50px;
}

.navWrap {
  display: none;
}

@media (min-width: 1200px) {
  .wrap {
    max-width: 1440px;
  }

  .navWrap {
    display: flex;
    gap: 94px;
  }
  .burgerWrap {
    display: none;
  }
}
