.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 5px 15px;
  background-color: rgba(0, 255, 255, 0.611);
}

.logo {
  width: 150px;
}
